/Human_Machine_Interaction/Lab1/Exercise1/nbproject/private/
/Human_Machine_Interaction/Lab1/Exercise1/build/
/Human_Machine_Interaction/Lab1/build/
/Human_Machine_Interaction/Lab1/nbproject/private/
/Human_Machine_Interaction/Lab2/nbproject/private/
/Human_Machine_Interaction/Lab2/build/
/Human_Machine_Interaction/Assignment/nbproject/private/
/Human_Machine_Interaction/Assignment/build/
